# dependencias
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
next-env.d.ts

# typescript
*.tsbuildinfo

# produccion
/build

# entorno / secretos
.env
.env*.local
.env.production

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# sistema
.DS_Store
*.pem

# db local
*.db
*.sqlite

# prisma
/prisma/dev.db

# editor
.vscode/*
!.vscode/extensions.json
.idea
