# dependencias
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/test-results/
/playwright-report/

# next.js
/.next/
/out/
next-env.d.ts

# typescript
*.tsbuildinfo

# produccion
/build
/dist

# entorno / secretos
.env
.env.*
!.env.example
.env*.local
.env.production

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# sistema
.DS_Store
*.pem
*.key

# db local
*.db
*.sqlite
*.sqlite3
*.dump
*.bak

# prisma
/prisma/dev.db

# servicios y temporales
/.vercel/
/tmp/
/temp/

# editor
.vscode/*
!.vscode/extensions.json
.idea

.env*
